* {
    font-family: "Poppins", sans-serif;
}

.spotify {
    display: none;
}


.nav-link3 {
    font-size: 13px;
}

.home-icon {
    background-color: rgba(57, 57, 57, 0.634);
    border-radius: 30px;
    padding: 5px;
    transition: transform .1s;
}

.nav-link2 {
    font-weight: bold;
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 15px;

}

.home-icon:hover {
    background-color: rgba(81, 81, 81, 0.634);
}


.link:hover {
    transform: scale(1.04);


}

.nav-link2:hover {
    color: white;
}

.search-icon {
    background-color: rgba(57, 57, 57, 0.634);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px;
}

.search-bar {
    width: 58vh;
    background-color: rgba(57, 57, 57, 0.634);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px;

}


.search::placeholder {
    color: rgb(171, 171, 171) !important;

}

.search {
    border: none !important;
    box-shadow: none !important;
}


.vline {
    border-left: 2px solid white;
    height: 30px;

}

#app {
    display: none;
}

.toggle-btn {
    display: none;
}

.sidebar {
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    height: 80vh;
}

.plus-icon:hover {
    background-color: rgba(57, 57, 57, 0.634);
    border-radius: 30px;
    padding: 8px;
}

.sidebar-content {
    background-color: rgb(37, 37, 37);

    height: 120px;
    border-radius: 8px;
}

.sidebar-content h6 {
    font-size: 15px;
}

.sidebar-content p {
    font-size: 13px;
    color: rgb(226, 225, 225);
}

.sidebar-content .btn {
    font-size: 13px;


}

.sidebar-content .btn:hover {
    transform: scale(1.03);

}

.footer-ul ul {
    font-size: 10px;
    list-style: none;
    color: rgb(171, 171, 171);

}

.footer-ul a {
    text-decoration: none;
    font-size: 11px;
    margin-left: 33px;

}

.footer-ul a:hover {
    text-decoration: underline;

}

#eng {
    background-color: transparent;
    border-color: rgb(185, 185, 185);
    color: white;
    font-size: 13px;
}

.right-content {
    background-image: linear-gradient(to bottom, rgb(39, 39, 39), black, rgb(26, 26, 26));
    border-radius: 5px;
    height: 80vh;
    flex-grow: 1;
    overflow-y: auto;
}

.right-content::-webkit-scrollbar {
    display: none;
}


.heading h5 {
    font-size: 22px;
}

.heading span {
    color: rgb(171, 171, 171);
    font-size: 13px;
}

.card-title {
    font-size: 15px;
}

.card-text {
    font-size: 13px;
    color: rgb(171, 171, 171);
}


.song-img {
    position: relative;

}



.card:hover #play-img {
    
    transform: translate(0, 0);
    opacity: 1;
}

#play-img {
    /* Initial "off-screen" state */
    position: absolute;
    width: 100px;
    height: 60px;
    bottom: 5px; 
    right: -10px; 
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease-out;

   
}


.card-body {
    background-color: transparent;
}

.card-body:hover {
    background-color: rgba(34, 34, 34, 0.816) !important;
}

.card-title:hover,
.card-text:hover {
    text-decoration: underline;
    cursor: pointer;
}


.scrollable-content::-webkit-scrollbar {
    display: none;
}


@media(max-width:768px) {
    #app {
        display: flex;
        opacity: 1;
        margin-left: 50px;
    }

    .large-display {
        display: none;
    }

    .toggle-btn {
        display: flex;
    }

    .spotify {
        display: inline;
    }

    .sidebar {
        display: none;
    }

    .right-content {
        width: 20vh;
        background-color: black;
    }

    .heading span {
        display: none;
    }

    .card {
        width: 9rem;
    }

    .song-img {
        width: 50px;
    }

    .next-songs {
        margin-left: 5px;
    }

}